<!DOCTYPE html>
<html>
    <head>
        <title>Regina & Alan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="application-name" content="Boda de Regina y Alan" />
		<meta name="description" content="El gran día llegó y nos gustaría que nos acompañaras en este gran momento" />
		
        <link rel="shortcut icon" type="image/png" href="../resources/img/ico/ring-ico.png" />
        <link rel="stylesheet" type="text/css" href="../resources/css/general.css" />
        <link rel="stylesheet" type="text/css" href="../resources/css/mediaquery/generalMQ.css" />
        <script type="text/javascript" src="../controller/general.js"></script>

        <link rel="stylesheet" type="text/css" href="../resources/css/home.css" />
        <link rel="stylesheet" type="text/css" href="../resources/css/mediaquery/homeMQ.css" />
        <script type="text/javascript" src="../controller/home.js"></script>
    </head>
    <body>



        <!--PRE-LOADING PAGE-->
        <div id="load_screen">
            <div id="loading">
                Cargando nuestra boda...
            </div>
        </div>


        <!--HEADER-->
        <div class="header">
            <a href="#" class="header-link">INICIO</a>
            <a href="wedding.html" class="header-link">NUESTRA BODA</a>
            <a href="details.html" class="header-link">DETALLES</a>
            <a href="rsvp.html" class="header-link">RSVP</a>
        </div>
        <!--RESPONSIVE HEADER-->
        <div class="responsive-header">
            <div class="responsive-header-button">
                <button class="main-button" onclick="chage_page('r');">RSVP</button>
            </div>
			<div class="responsive-header-ico-container" onclick="open_menu();">
				<div class="responsive-header-ico-circle responsive-header-ico-circle-1"></div>
				<div class="responsive-header-ico-circle responsive-header-ico-circle-2"></div>
				<div class="responsive-header-ico-circle responsive-header-ico-circle-3"></div>
            </div>
        </div>



        <!--BODY-->
        <div class="home-body">
            <div class="home-body-cover">
                <div class="home-body-text">
                    <label class="home-body-text-1">- Regina & Alan -</label><br/>
                    <label class="home-body-text-2">NOS CASAMOS</label><br/>
                    <label class="home-body-text-3">11 - 09 - 2021 | 7:00 PM | Hacienda La Cassia</label><br/><br/><br/>
                    <button class="main-button" onclick="chage_page('r');">RSVP</button>
                    <br/><br/>
                </div>
            </div>
        </div>



        <!--FOOTER-->
        <div class="footer">
            <label>2021 - Regina & Alan</label>
        </div>



        <!--RESPONSIVE MENU-->
        <div class="responsive-menu-background" id="responsive-menu-background">
            <div class="responsive-menu-ico-container" onclick="close_menu();">
				<div class="responsive-menu-ico-pipe responsive-menu-ico-pipe-1"></div>
				<div class="responsive-menu-ico-pipe responsive-menu-ico-pipe-2"></div>
            </div>
            <div class="responsive-menu-options-container">
                <button class="responsive-menu-options">INICIO</button>
                <button class="responsive-menu-options" onclick="chage_page('w');">NUESTRA BODA</button>
                <button class="responsive-menu-options" onclick="chage_page('d');">DETALLES</button>
                <button class="responsive-menu-options" onclick="chage_page('r');">RSVP</button>
            </div>
        </div>



    </body>
</html>
